<div class="forecast-wrapper" *ngIf="cityForecastData$ | async as city else loading">
    <mat-card>
      <mat-card-content>  
        <table mat-table class="mat-elevation-z8">
          <tr>
            <th mat-header-cell="time">Time</th>
            <th mat-header-cell="temp">Temperature</th>
            <th mat-header-cell="wind_speed">Wind speed</th>
          </tr>
          <tr *ngFor="let weather of city.hourly | slice:1:18">
            <td mat-cell>{{getCityTime(weather.dt)}}</td>
            <td mat-cell>{{roundTemperature(weather.temp)}} °C</td>
            <td mat-cell>{{weather.wind_speed}} m/s</td>
          </tr>
        </table>
    </mat-card-content>
      
      <mat-card-actions>
        <button color="primary" mat-button (click)="goBack()">Back</button>
      </mat-card-actions>
    </mat-card>
    </div>
    
    <ng-template #loading>
        <mat-card>Loading...</mat-card>
    </ng-template>